services:
  victoria-traces:
    image: victoriametrics/victoria-traces:latest
    container_name: victoria-traces
    ports:
      - "10428:10428"   # ingest + query HTTP
    volumes:
      - victoria-traces-data:/victoria-traces-data
    command:
      - "-storageDataPath=/victoria-traces-data"
      - "-httpListenAddr=:10428"
    networks: [obs]


  otel-collector:
    image: otel/opentelemetry-collector-contrib:latest
    container_name: otel-collector
    command: ["--config=/etc/otelcol-contrib/config.yaml"]
    volumes:
      - ./otel-collector-config.yaml:/etc/otelcol-contrib/config.yaml:ro
    ports:
      - "4317:4317"     # OTLP gRPC (traces/metrics/logs)
      - "4318:4318"     # OTLP HTTP (traces/metrics/logs)
      - "8888:8888"     # metrics самого collector (для Prometheus)
      - "13133:13133"   # healthcheck
      - "9464:9464"     # Prometheus scrape endpoint для OTLP-metrics (экспорт из collector)
    depends_on:
      - victoria-traces
    networks: [obs]

  jaeger-ui:
    build:
      context: ./jaeger-ui
      args:
        # можно менять (пример: v2.14.1). Важно: это TAG репозитория jaeger-ui
        JAEGER_UI_VERSION: "v2.14.1"
    container_name: jaeger-ui
    ports:
      - "16686:8080"    # Jaeger UI (как привычный порт)
    depends_on:
      - victoria-traces
    networks: [obs]

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - prometheus-data:/prometheus
    ports:
      - "9090:9090"
    depends_on:
      - otel-collector
    networks: [obs]

volumes:
  victoria-traces-data:
  prometheus-data:

networks:
  obs:
