extensions:
  health_check:

receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318

processors:
  memory_limiter:
    check_interval: 1s
    limit_mib: 512
    spike_limit_mib: 128
  batch:

exporters:
  # ТРЕЙСЫ -> VictoriaTraces OTLP/HTTP ingest endpoint
  otlphttp/victoriatraces:
    traces_endpoint: http://victoria-traces:10428/insert/opentelemetry/v1/traces

  # Метрики -> отдаём наружу как /metrics (Prometheus будет скрейпить)
  prometheus:
    endpoint: 0.0.0.0:9464

  # Для отладки (можешь потом убрать)
  debug:
    verbosity: detailed

service:
  telemetry:
    logs:
      level: info
  extensions: [health_check]
  pipelines:
    traces:
      receivers:  [otlp]
      processors: [memory_limiter, batch]
      exporters:  [otlphttp/victoriatraces, debug]

    metrics:
      receivers:  [otlp]
      processors: [memory_limiter, batch]
      exporters:  [prometheus, debug]

    logs:
      receivers:  [otlp]
      processors: [memory_limiter, batch]
      exporters:  [debug]
