receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318

processors:
  batch: {}

exporters:
  debug:
    verbosity: detailed

  # traces -> VictoriaTraces (OTLP/HTTP)
  otlphttp/victoriatraces:
    endpoint: http://victoria-traces:10428
    traces_endpoint: http://victoria-traces:10428/insert/opentelemetry/v1/traces
    tls:
      insecure: true

  # metrics -> Prometheus scrape endpoint
  prometheus:
    endpoint: 0.0.0.0:9464
    send_timestamps: true
    enable_open_metrics: true

  # logs -> Graylog OTLP gRPC input (создашь input в UI на 4319)
  otlp/graylog:
    endpoint: graylog:4319
    tls:
      insecure: true

extensions:
  health_check:
    endpoint: 0.0.0.0:13133

service:
  telemetry:
    logs:
      level: info
  extensions: [health_check]
  pipelines:
    traces:
      receivers: [otlp]
      processors: [batch]
      exporters: [otlphttp/victoriatraces, debug]
    metrics:
      receivers: [otlp]
      processors: [batch]
      exporters: [prometheus]
    logs:
      receivers: [otlp]
      processors: [batch]
      exporters: [otlp/graylog, debug]
