receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318

processors:
  batch: {}

exporters:
  # Для проверки — пишет всё в stdout коллектора
  debug:
    verbosity: normal

  # Экспорт логов в Graylog через Syslog
  syslog/graylog:
    endpoint: graylog          # имя сервиса graylog в docker-сети
    network: udp               # UDP, под наш Syslog UDP input
    port: 1514                 # тот же порт, что в Graylog Input
    protocol: rfc5424          # современный формат syslog
    timeout: 5s

extensions:
  health_check:
    endpoint: 0.0.0.0:13133

service:
  extensions: [health_check]
  pipelines:
    logs:
      receivers: [otlp]
      processors: [batch]
      exporters: [debug, syslog/graylog]
