global:
  scrape_interval: 10s

scrape_configs:
  - job_name: otel-collector
    static_configs:
      - targets: ["otel-collector:8888"]  # метрики самого collector

  - job_name: otlp-metrics-via-collector
    static_configs:
      - targets: ["otel-collector:9464"]  # метрики, пришедшие по OTLP -> exporter prometheus
