global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["prometheus:9090"]

  # метрики приложений, которые пришли в otel-collector, и отданы наружу prometheus exporter'ом
  - job_name: "otel-app-metrics"
    static_configs:
      - targets: ["otel-collector:9464"]

  # внутренние метрики самого otel-collector
  - job_name: "otel-collector-internal"
    static_configs:
      - targets: ["otel-collector:8888"]

  # (опционально) если /metrics у victoria-traces доступен — Prometheus его подхватит
  - job_name: "victoria-traces"
    static_configs:
      - targets: ["victoria-traces:10428"]
    metrics_path: /metrics
